html, body {
    height: 100%;
    margin: 0;
}
body {
    background: #ffc600;
}
main {
    height: 600px;
    width: 600px;
    text-align: center;
    padding: 50px;
    background-color: #fff;
    box-shadow: 8px 8px 0px 0px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    margin: 0 40px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 40px;
    outline: 0;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

span {
    border: 2px solid #000;
    font-size: 40px;
    height: 450px;
    line-height: 10;
    border-radius: 5px;
    overflow: auto;
}